{% extends 'base.html' %}


{% block title %}
    login
{% endblock  %}
    

{% block content %}

<section class="vh-100 bg-image" style ='color:rgb(56, 74, 77); background:#19aa8d; font-family:Roboto' >
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Login</h2>

                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
                <form method="POST">
                    {% csrf_token %}
                <div class="form-outline mb-4">
                    <!-- <input type="text" name = "username" id="form3Example1cg" class="form-control form-control-lg" /> -->
                    {{form.username}}
                    <label class="form-label" for="form3Example1cg">{{form.username.label}}</label>
                </div>

                <div class="form-outline mb-4">
                    <!-- <input type="password" name = "password" id="form3Example4cg" class="form-control form-control-lg" /> -->
                    {{form.password}}
                    <label class="form-label" for="form3Example4cg">{{form.password.label}}</label>
                </div>

                <div class="form-group">
                    <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                    <!-- <input type="submit" name="submit" class="btn btn-info btn-md" value="submit"> -->
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>
                <p class="text-center text-muted mt-5 mb-0"> Don't have an account? <a href=" {% url 'signup' %} " class="fw-bold text-body"><u>SignUp here</u></a></p>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>

{% endblock content %}
    